.hiddenMenu {
  background-color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 300;
  font-size: 1.2rem;
}
.closed-menu {
  left: -100% !important;
}
.open-menu {
  left: 0 !important;
}
.hiddenMenu span {
  position: absolute;
  right: 0.65rem;
  top: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.hiddenMenu span:hover {
  color: rgb(46, 46, 168);
}
.hiddenMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20%;
}
.hiddenMenu ul li {
  cursor: pointer;
  font-weight: 500;
}
.hiddenMenu ul li:hover {
  color: rgb(46, 46, 168);
}
.hiddenMenu ul li a {
  text-decoration: none;
  color: inherit;
}
