.footer {
  background-color: #2d2e32;
  width: 100vw;
  height: auto;
}
.footerc {
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footerc h3 {
  color: #fff;
  font-size: 1.4rem;
}
.footerc__socials {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.footerc__socials a {
  color: #fff;
  font-size: 2.1rem;
}
.footerc__socials a:hover {
  color: #147efb;
}

@media (max-width: 1200px) {
  .footerc h3 {
    font-size: 1.2rem;
  }
  .footerc__socials a {
    font-size: 1.8rem;
  }
}
@media (max-width: 600px) {
  .footerc {
    padding: 1rem;
  }
  .footerc h3 {
    font-size: 0.8rem;
  }
  .footerc__socials a {
    font-size: 1rem;
  }
  .footerc__socials {
    gap: 1rem;
  }
}
