.navbar {
  /* magic of background-color prevents overlap of navbar and home section */
  background-color: #fff;
  z-index: 200;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  box-shadow: 0px 1px 10px rgba(102, 102, 102, 0.352);
  padding: 25px 30px 25px 30px;
}
.navbar h3 {
  margin-left: 2rem;
  cursor: pointer;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 4rem;
}
.navbar ul li {
  cursor: pointer;
}

.navbar ul li:hover {
  color: rgb(46, 46, 168);
}
.navbar ul li .mobile-menu {
  display: none;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
}
.navbar ul li .mobile-menu {
  cursor: pointer;
  display: none;
  font-size: 2rem;
}

@media (max-width: 900px) {
  .navbar h3 {
    margin-left: 0rem;
  }
  .navbar ul {
    margin-right: 0rem;
  }
  .navbar ul li a {
    display: none;
  }
  .navbar ul li .mobile-menu {
    display: flex;
    font-size: 1.4rem;
  }
}
@media (max-width: 550px) {
  .navbar {
    height: 60px;
    font-size: 0.9rem;
  }
}
